{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'crossmedia/main.css' %}" />
    <meta charset="UTF-8">
{#    <title>Welcome to CrossMedia</title>#}
</head>
<body>

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="#">CrossMedia</a>
        {% if user.is_authenticated %}
            <a class="navbar-brand mr-4" href="#">Hii, {{ user.username }}</a>
        {% endif %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
{#                    <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>#}
                {% endif %}
{#              <a class="btn btn-outline-success" href="#"><i class="fa fa-fw fa-user" title="home"></i></a> &nbsp&nbsp#}
            </div>
            <!-- Navbar Right Side -->

            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <a class="btn" style="color: white" href="{% url 'home' %}"><i class="fas fa-home" title="Home"></i></a> &nbsp&nbsp
                    <a class="btn" style="color: white" href="{% url 'friendlist'  %}"><i class="fa fa-fw fa-user-friends" title="FriendsList"></i></a> &nbsp&nbsp
{#                    <a class="btn"   style="color: white"  href="#"><i class="fa fa-fw fa-users" title="Groups"></i></a> &nbsp&nbsp#}
{#                    <a class="btn" style="color: white"  href="#"><i class="fa fa-fw fa-images" title="Events"></i></a> &nbsp&nbsp#}
                    <a class="btn" style="color: white" href="/crossmedia/my_posts"><i class="fa fa-fw fa-envelope" title="My Posts"></i></a> &nbsp&nbsp
{#                    <a class="btn" href="#"><i class="fa fa-fw fa-cloud-sun" title="Weather"></i></a> &nbsp&nbsp#}
                    <a class="nav-item nav-link" href="{% url 'profile'  %}">Edit Profile</a>
                    <a class="nav-item nav-link" href="{% url 'logout'  %}">Logout</a>
                {% else %}
                  <a class="nav-item nav-link" href="{% url 'login'  %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'register_step_one'  %}">Register</a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
      {% block content %}{% endblock %}
    </div>
  {% if user.is_authenticated %}
    <div class="col-md-4">
      <div class="content-section">
{#        <h3>Our Sidebar</h3>#}
{#        <p class='text-muted'>You can put any information here you'd like.#}
          <ul class="list-group">
              <li class="list-group-item list-group-item-light"><a href="/crossmedia/post-create">Create Post</a></li>
              <li class="list-group-item list-group-item-light"><a href="/crossmedia/my_posts">My Posts</a></li>
              <li class="list-group-item list-group-item-light"><a href="/crossmedia/people">People You May Know</a></li>
              <li class="list-group-item list-group-item-light"><a href="/crossmedia/friend-requests">Friend Requests</a></li>
{#            <li class="list-group-item list-group-item-light">etc</li>#}
              {% if user.profile.is_parent %}
                  <li class="list-group-item list-group-item-light"><a href="/crossmedia/children-list">My Children's Accounts</a></li>
              {% endif %}
          </ul>
        </p>
      </div>
    </div>
  {% endif %}
  </div>
</main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>

